 <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="d-flex">
             <a href="<%= user_path(user) %>" class="mr-3 text-primary" data-toggle="tooltip"
                data-original-title="Review"><i class="mdi mdi-monitor-eye font-size-18"></i></a>
            <a href="<%= edit_user_path(user) %>" class="mr-3 text-primary" data-toggle="tooltip">
                <i class="mdi mdi-pencil font-size-18"></i>
            </a>
            
            <%= button_to user_path(user), method: :delete, data: { "toggle" => "tooltip","original-title" => "Delete" }, :onclick => "return confirm('Bạn có muốn xóa không ?')", class: "text-danger delete mr-3 btn btn-link p-0"  do %>
                <i class="mdi mdi-close font-size-18"></i>
            <% end %>
         </td>
      </tr>
<% end %>