<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
   <div class="outer">
      <div class="outer">
          <div class="form-group row mb-4">
              <label for="taskname" class="col-form-label col-lg-2">Tiêu đề</label>
              <div class="col-lg-10">
                  <%= form.text_field :title, placeholder: 'Tiêu đề bài viết là gì ...' ,class: 'form-control'  %>
              </div>
          </div>
          
          <div class="form-group row mb-4">
              <label class="col-form-label col-lg-2">Nội dung</label>
              <div class="col-lg-10">
                  <div class="">Bạn đang nghĩ gì ?</div>
                  <%= form.text_area :content, class: "form-control content_post" %>
              </div>
          </div>
      
      </div>
    </div>
    <div class="text-center">
        <%= link_to "Hủy", root_path , class: "btn btn-info mx-2" %>
        <%= form.submit "Post", class: "btn btn-primary" %>
    </div>                         
    <span class="image">
        <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
    </span>
<% end %>

                                        
                                                         
                                    