<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-12">
     
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Tất cả bài viết(<%= Micropost.count %>)</h4>

            <div class="page-title-right">
                <a href="<%= new_micropost_path %>"
                    class="btn btn-success  mb-2 mr-2 rounded-pill"><i
                        class="fas fa-user-plus mr-1"></i>Bài viết mới</a>
            </div>

        </div>
    </div>
</div>
<% @microposts.each do |post| %>
    <div class="post-item shadow my-3">
        <div class="item-head d-flex align-item-center">
            <div class="author-avatar bg-white p-1 rounded">
                            <!-- avatar of user here -->       
            </div>
            <div class="post-meta ml-2 flex-grow-1 py-2">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="post-detal">
                        <div class="author-info pb-2 position-relative">
                                    <div class="user-name d-flex align-items-center">
                                        <a href="#" class="show-info-user"  data-id-user="<%= post.user.id %> " ><h5 class="mb-0"><%= post.user.name %> </h5></a>
                                        <span class="mx-2">-</span>
                                        <p class="mb-0 d-inline-block"><%= time_ago_in_words(post.created_at) %> ago</p>
                                        
                                    </div> 
                            </div>
                            <div>
                                <p class="d-inline mb-0">
                                    <a href="<%= micropost_path(post) %>" class="text-dark text-capitalize">
                                        <%= post.content %>
                                    </a>
                                </p>
                                <%= image_tag post.image if post.image.attached? %>
                            </div>
                            
                            </div>
                       
                </div>
              
            </div>
        </div>
        

    </div>
<% end %>
<%= paginate @microposts, theme: 'twitter-bootstrap-4',
        pagination_class: "pagination justify-content-center",
        nav_class: "d-inline-b page-paginate"  %>